body{
    font-family: 'DM Sans', sans-serif;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}

.header, footer{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 47px;
}

.header-flex, .footer-flex, .about, .subscribe, .plan-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-li{
    display: inline-block;
    
}

.nav-li:not(:first-of-type){
    margin-left: 49px;
}

.nav-link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;

}

.nav-link:hover{
    color: black;
    transition: 300ms;
}

.button{
    width: 212px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-orange{
    background: #FF7143;
}

.button-orange:hover{
    background: #fca183;
    transition: 500ms;
}

.about{
    margin: 104px auto 85px;
}

.about-title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about-text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}

.button-violet{
    background: #5454D4;
}
.button-violet:hover{
    background: #7e7eca;
    transition: 500ms;
}

.button-transporent{
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
   
}

.button-transporent:hover{
    background: #cbcbf3b9;
    transition: 500ms;
}

.footer{
    padding: 53px 0;
}

.subscribe{
    margin-bottom: 85px;
}

.subscribe-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    margin-bottom: 38px;
}

input{
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    padding-left: 14px;
    box-sizing: border-box;
    margin-right: 39px;
}

input::placeholder, input{
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
}
input:focus{
    outline: none;
}

.plan{
    margin-bottom: 132px;
}

.plan-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;
}

.item{
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0 27px ;
}

.item:hover{
    transition: 500ms;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.item-text{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
}

.item:hover .item-text, .item:hover .item-title, .item:hover .item-li{
    color: #FFFFFF;
    transition: 500ms;
}

.item-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 0 28px;
}

.item-li{
    list-style: none;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
}

.button-item{
    width: 285px;
    background: #FFFFFF;
    color: #5454D4;
    margin-top: 36px;
}

.item:hover .button-item{
    background: #9F3919;
    color: #FFFFFF;
    transition: 500ms;
}